* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #4E5255;
  font-family: 'Urbanist', sans-serif;

}


/* ------------ ДВА ОСНОВНЫХ КОНТЕЙНЕРА */

/* КОНТЕЙНЕР СКАЛЬКУЛЯТОРОМ */
.container {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #4E5255;
  border-radius: 20px;
  padding: 30px 20px;
  transition: .7s;

  /* display: none; */
}

.shift-out-container {
  display: none;
}

/* КОНТЕЙНЕР СОХРАНЕНИЯ СОБЫТИЯ */
.container-list {
  display: none;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #4E5255;
  border-radius: 20px;
  padding: 30px 20px;
}


.shift-in-container-list {
  display: block;
}

/* КОНТЕЙНЕР СПИСКА ВСЕХ СОБЫТИЙ */
.container-allList {
  display: none;
  text-align: left;
  height: 100vh;
  width: 100%;
  background-color: #4E5255;
  border-radius: 20px;
  padding: 30px 20px;
}





/* ------------ ЗАГОЛОВКИ СЕКЦИЙ */
.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
  font-size: 13px;
  color: #A2A7AB;
}


.container-title p {
  border-bottom: 1px solid #A2A7AB;
  width: 45%;
  letter-spacing: 2px;
}

.active-style {
  color: #bfc3c7;
  font-weight: 700;

}


.passive-style {
  color: #A2A7AB;
  opacity: .3;
}




/* экран вывода результатов калькулятора */
.display-final {
  width: 100%;
  height: 30px;
  margin: 20px auto;
  color: #fff;
  text-align: right;
  font-size: 48px;
  margin-bottom: 40px;
}

.display-list {
  margin: 0 auto;
  width: 100%;
  height: 190px;
  text-align: right;
  color: #A2A7AB;
  font-size: 22px;
  /* border: 1px solid #fff; */
}

.display-list p {
 margin-bottom: 5px;
}


.display {
  width: 100%;
  height: 30px;
  margin: 20px auto;
  color: #fff;
  /* border: 1px solid #fff; */
  text-align: right;
  font-size: 22px;
}


/* Calc buttons container (grid) */
.calc-tabs {
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: #fff;
}

.tab {
  padding: 17px 10px;
  /* transition: .1s; */
  font-size: 27px;
}


/* .tab:active {
  background-color: rgb(138, 118, 118);
  color: rgb(244, 248, 135);
} */


/* .tab-bg {
  background-color: #91EFF6;
  border-radius: 50%;
} */


.tab-del {
  color: rgb(228, 139, 139);
}


.tab-calc, .tab-equal {
  color: rgb(156, 228, 156)
}

.tab-save {
  grid-row: 4/5;
  grid-column: 4/6;
  text-align: right;

}


/* ----- экран результата */

.result {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
}

.result-title {
  text-align: left;
  margin-bottom: 15px;
}


.result-sum {
  text-align: left;
  font-size: 48px;
  margin-bottom: 20px;
}

.result--details {
  display: flex;
  justify-content: space-between;
}

.result-ul {
  width: 60%;
}

.result-ul li {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(138, 118, 118);
  padding-bottom: 10px;
}






/* ------- Input */

/* контейнер в котором лежит инпут для ввода названия события */
.inputBox {
  margin: 20px auto;
  text-align: right;
}

input {
  padding: 5px 5px;
  /* display: block; */
}


/* Инпут ввода названия события в калькуляторе */
.input_title {
  width: 100px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: 1px #fff solid;
  font-size: 16px;
}

.input_title:focus {
  outline: 0;
}



/* ------- Buttons */

/* Кнопка Save  в калькуляторе */
.btn_save {
  /* width: 80px;
  padding: 5px 10px;
  margin: 0;
  background-color: rgba(78,82,85, 0);
  border: none; */
  color: rgb(213, 253, 101);
  /* border: 1px solid rgb(213, 253, 101);
  border-radius: 20px; */
}

